@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5ebe1;
  --foreground: #000000;
  --card: #eedcca;
  --secondary: #e5d4c0;
  --muted-foreground: #6b6358;
  --border: #e0d0bc;
  --accent: #ff6600;
  --accent-foreground: #ffffff;
  --destructive: #d56e67;
  --block-1: #fbaca7;
  --block-2: #ffab82;
  --block-3: #f9ca6d;
  --block-4: #c2e388;
  --block-5: #91ceb1;
  --block-6: #98ddf0;
  --block-7: #9dc3fb;
  --block-8: #b7a7f9;
  --block-9: #efb1e7;

  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --font-rounded: 'SF Pro Rounded', 'Hiragino Maru Gothic ProN', Meiryo, 'MS PGothic', sans-serif;
  --font-serif: Georgia, 'Times New Roman', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161514;
    --foreground: #cecece;
    --card: #282522;
    --secondary: #282522;
    --muted-foreground: #9a9690;
    --border: #282522;
    --accent: #f99959;
    --accent-foreground: #161514;
    --destructive: #d56e67;
    --block-1: #d56e67;
    --block-2: #de865a;
    --block-3: #ebb956;
    --block-4: #92c142;
    --block-5: #5eac86;
    --block-6: #3fb0d0;
    --block-7: #6091db;
    --block-8: #8f7dd7;
    --block-9: #da73cc;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
